# 1a

In [82]:

for i in range(-10, 11):
    print(i, end = '\t')

-10	-9	-8	-7	-6	-5	-4	-3	-2	-1	0	1	2	3	4	5	6	7	8	9	10

## 1b

In [80]:

for i in range(-10, 11, 2):
    
    
    print(i, end = "\t ")

-10	 -8	 -6	 -4	 -2	 0	 2	 4	 6	 8	 10

## 2a

In [78]:
sum = 0

for i in range(1,101):
    sum = sum + i
    
print(f" 1+2+3+...+100 = {sum} ")

 1+2+3+...+100 = 5050

## 2b

In [75]:
my_sum = 0

for i in range(1, 100, 2):
    my_sum = my_sum + i 
print(f" 1+3+5+...+99 = {my_sum} ")

 1+3+5+...+99 = 2500

# 3a

In [99]:
number = 6
i = 0
for i in range(1,11):
    ans = number * i
    # print(ans)
    
    print(f"{number} X  {i} = {ans}")

6 X  1 = 6
6 X  2 = 12
6 X  3 = 18
6 X  4 = 24
6 X  5 = 30
6 X  6 = 36
6 X  7 = 42
6 X  8 = 48
6 X  9 = 54
6 X  10 = 60

# 3b

In [108]:
number = int(input("Enter number : "))
print(f"Which table are you interested in? {number}")
i = 0
print(f"your {number} table is from 5 to 12 : ")
for i in range(5,13):
    ans = number * i
    
    print(f"{number} X  {i} = {ans}")

Which table are you interested in? 5
your 5 table is from 5 to 12 :
5 X  5 = 25
5 X  6 = 30
5 X  7 = 35
5 X  8 = 40
5 X  9 = 45
5 X  10 = 50
5 X  11 = 55
5 X  12 = 60

# 3c

In [127]:
for row in range(11):
    for col in range(11):
        product = row * col
        print(f"{product}", end="\t")
    print() # new line

0	0	0	0	0	0	0	0	0	0	0
0	1	2	3	4	5	6	7	8	9	10
0	2	4	6	8	10	12	14	16	18	20
0	3	6	9	12	15	18	21	24	27	30
0	4	8	12	16	20	24	28	32	36	40
0	5	10	15	20	25	30	35	40	45	50
0	6	12	18	24	30	36	42	48	54	60
0	7	14	21	28	35	42	49	56	63	70
0	8	16	24	32	40	48	56	64	72	80
0	9	18	27	36	45	54	63	72	81	90
0	10	20	30	40	50	60	70	80	90	100

# 4

In [129]:
n = int(input("Enter the number: "))
for i in range(n):
    factorial = n *(n-1)*(n-2)
    print(factorial)

60
60
60
60
60